{
  "root": true,
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true,
    "es2021": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:react-hooks/recommended",
    "plugin:promise/recommended"
  ],
  "plugins": [
    "react",
    "import",
    "promise",
    "prettier",
    "jsx-a11y",
    "react-hooks",
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "no-use-before-define": "off",
    // prettier
    "prettier/prettier": "error",
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "patterns": ["@mui/*/*/*", "!@mui/material/test-utils/*"]
          }
        ]
      }
    ],
    "no-redeclare": "off",
    "@typescript-eslint/no-redeclare": ["error"],
    "no-unused-vars": "error",
    "@typescript-eslint/no-unused-vars": ["error"]
  }
}
