{
  "root": true,
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/extensions": [".js", ".ts", ".tsx", ".jsx"]
  },
  "env": {
    "browser": true,
    "es2021": true,
    "es6": true,
    "jest": true,
    "commonjs": true,
    "node": true
  },
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "react",
    "react-hooks",
    "@typescript-eslint",
    "import",
    "jsx-a11y",
    "prettier",
    "jest"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "no-use-before-define": "off",
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          {
            "group": ["!@mui/*"],
            "message": "Please use import { element } from '@mui/material' instead."
          },
          {
            "group": ["@mui/material/test-utils/*"],
            "message": "Import of @mui/material/test-utils/* private modules not allowed."
          }
        ]
        // "Please import from @mui/material instead. See https://mui.com/guides/minimizing-bundle-size/#option-1 for more information"
      }
    ],
    "no-redeclare": "off",
    "@typescript-eslint/no-redeclare": ["error"],
    "semi": "off",
    "@typescript-eslint/semi": ["error"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/no-empty-function": [
      "error",
      { "allow": ["arrowFunctions"] }
    ],
    "no-var-requires": "off",
    "@typescript-eslint/no-var-requires": "off",
    "no-explicit-any": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-empty-interface": "off",
    "@typescript-eslint/no-empty-interface": [
      "error",
      {
        "allowSingleExtends": true
      }
    ],
    "no-console": [
      "warn",
      {
        "allow": ["time", "timeEnd", "info", "error", "warn"]
      }
    ],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/no-children-prop": "off"
  }
}
