//npm.pkg.github.com/:_authToken=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
@sb-core:registry=https://npm.pkg.github.com
@sb-material-ui:registry=https://npm.pkg.github.com
@story-bootstrap:registry=https://npm.pkg.github.com
